In [ ]:
#1 checking if the element is present in the list

l = ["apple", "mango","banana"]

if "apple" in l:
    print("true")

In [ ]:
#2 find the index of 1st matching element 

fruit = ['pear', 'orange', 'apple', 'grapefruit', 'apple', 'pear'] 
b = [""]
for i in fruit:
    if i not in b :
        b.append(i)
    elif i in b:
        print(f"found {i} is repitive")
        break

In [ ]:
#3 removing element with two method

fruit = ['pear', 'orange', 'apple', "banana"] 
print(fruit.pop())
print(fruit.remove("orange"))
print(fruit)

In [ ]:

#4 Concatenate two list with 2 different way

fruit = ['pear', 'orange', 'apple', 'grapefruit', 'apple', 'pear'] 

fruit2 = ['pear', 'orange', 'apple', "banana"] 

print(fruit+fruit2)
fruit.extend(fruit2)

In [ ]:
# 5.How to manipulate every element in a list with list comprehension, new list with 1 added to every element. |  


li = [0,25,50,100]

print([x for x in li if x > 50])

In [ ]:
# 6.Count the occurrence of a specific object in a | list 

pets = ['dog','cat','fish','fish','cat'] 
count=0
for i in pets:
    if i == "fish":
        count +=1
    
print(f" fish occur {count} times")

In [ ]:
# 7.Return the length of a list | 

li = ['a', 'b', 'c', 'd', 'e'] 

print(len(li))

In [ ]:
# 8.How to check if an element is not in a list? |  check 4 and 5 

li = [1,2,3,4]

for i in li:
    if 4 == i or 5 == i:
        print(f"{i} is present")

In [ ]:
# 9. Multiply every element in a list by 5 | 

a = [10,20,30,40,50] 

print([x*5 for x in a])

In [ ]:
# 10.Insert a value at a specific index in an existing list | at 2nd position 'HERE' 

li = ['a','b','c','d','e']
position = int(input("enter the position: "))
b = []
for i in range(0,len(li)):
    if i == position:
        b.append("here")
    b.append(li[i]) 
print(b)

In [ ]:
#11. Remove elements in a list after a specific index i want only first 1 to 10 number 

li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]


print([x for x in li if x < 11])

In [ ]:
# 12. Remove elements in a list between 2 indices | from 13 to 17 
# 13

li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

print(li[13:17])

r1 = int(input("enter the first range : "))
r2 = int(input("enter the second range : "))
b = []
for i in range(0,len(li)):
    if i in li[r1:r2]:
        continue
    b.append(li[i]) 
print(li[r1:r2])
print(b)

In [ ]:
# 14. Sort a list of integers in ascending order | 

li = [10,1,9,2,8,3,7,4,6,5] 

li.sort()
print(li)

In [ ]:
# 15.Sort a list of integers in descending order | 

li = [10,1,9,2,8,3,7,4,6,5] 
li.sort(reverse=True)
print(li)

In [ ]:
# 16. Filter even values out of a list with list comprehension | 

li = [1,2,3,4,5,6,7,8,9,10] 

print([x for x in li if x%2==0])

In [ ]:
# 17. Get the first element from each nested list in a list | 

li = [[1,2,3], [4,5,6], [7,8,9], [10,11,12], [13,14,15]] 

for i in li:
    print(i[0])

In [ ]:
# 18.Combine elements in a list into a single string. | 

li = ['The', 'quick','brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']
b=" "

for i in li:
    b +=i+" "

print(b)



# Next page

In [ ]:
# 1.Add a list of elements to a set | EXPECTED O/P: {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'} 
s= {"Yellow", "Orange", "Black"}
l= ["Blue", "Green", "Red"] 

b = set(l)
c = s.symmetric_difference(b)
print(c)

In [ ]:
# 2.Return a new set of identical items from two sets | EXPECTED O/P:{40, 50, 30} 
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70} 


print(set1.intersection(set2))

In [ ]:
# 3.Get Only unique items from two sets | EXPECTED O/P: (70 40, 10, 50, 20, 60, 30} 
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70} 

print(set1.union(set2))

In [ ]:
# 4.Update the first set with items that don't exist in the second set |  EXPECTED O/P: set1 {10, 30}. 
set1 = {10, 20, 30} 
set2 = {20, 40, 50}

print(set1.difference(set2))

In [ ]:
# 5.Remove items from the set at once |  EXPECTED O/P: (40, 50} 
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20, 30}
set1.difference(set2)

In [ ]:
# 6.Return a set of elements present in Set A or B, but not both  EXPECTED O/P:{20, 70, 10, 60} 
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

b = set1.difference(set2)
a = set2.difference(set1)

print(a.union(b))

In [ ]:
# 7.Check if two sets have any elements in common. If yes, display the common elements  EXPECTED O/P: Two sets have items in common {10 
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

b = set1.intersection(set2)
print([ f"{i} is the common item in the set"  for i in b])

In [ ]:
# 8.Update set1 by adding items from set2, except commo items |  EXPECTED O/P: (70, 10, 20, 60} 
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

b = set1.difference(set2)
a = set2.difference(set1)

print(a.union(b))

In [ ]:
# 9. Remove items from set1 that are not common to both set1 and set2 |  EXPECTED O/P:{40, 50, 30} 
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

b = set1.intersection(set2)
a = set2.intersection(set1)

print(a.union(b))

In [ ]:
# 10.Does converting an object to a set maintain the objec order? 

#no Set is unorder data type so if we convert the object in to set the order of the set will be different for example

a = [10, 20, 30, 40]
b = set(a)
print(b)  # the output will be different than the original input

In [ ]:
# 11.CHECK if a set a subset of another set | 
a = {4, 5} 
b = {1, 2, 3, 4, 5}

a.issubset(b)

In [ ]:
# 12.Check if a specific value exists in a set |  check 5. 
s = {5, 7, 9}

5 in s

In [ ]:
# 13. Add an element to a set | 

s = {'a','b','c'} 
s.add("e")
print(s)

In [ ]:
# 14.Make a copy of a set | 

s1 = {'a','b','c'} 
s2= s1.copy()
print(s2)

In [ ]:
# 15.Check if a set is a superset of another set | 
a = {10,20,30} 
b = {10, 20} 

print(a.issubset(b))
print(a.issuperset(b))

In [ ]:
# convert a set to a list 
a ={4,2,3}
b = list(a)
print(b)

# next page

In [ ]:
# 19. Reverse the order of a list | 

li = [1,2,3,4,5,6,7,8,9,10] 
li.sort(reverse=True)
print(li)

In [ ]:
# 20. Return the minimum value in a list | 

li = [10,1,9,2,8,3,7,4,6,5] 
li.sort(reverse=False)
print(li)

In [ ]:
# 21. Return the sum of values in a list |  with sum function and without sum functio
li = [10,1,9,2,8,3,7,4,6,5] 
sum1=0
print(sum(li))

for i in li:
    sum1+=i

print(sum1)

In [ ]:
# 22.Find the intersection (same element) of 2 lists | 
li1 = [1,2,3]
li2 = [2,3,4] 
com = []

for i in li1:
    if i in li2:
        com += str(i)
print(com)

In [ ]:
# 23.Flatten a list of lists with a list comprehensions | O/P: will be [1, 2, 3, 4, 5, 6] 
li = [[1,2,3], [4,5,6]]

print([y for x in li  for y in x])

In [ ]:
# 24.Generate a list of every integer between 2 values. take user input 


l1= []
l2= []

i = 0
while i < 2:
    if len(l1)< 2 :
        num = int(input("Enter the value of List1 : "))
        num = int(input("Enter the value of List2 : "))
        l1.append(num)
        l2.append(num)
        i+=1
    elif len(l2)<2:
        num = int(input("Enter the value of List1 : "))
        num = int(input("Enter the value of List2 : "))
        l1.append(num)
        l2.append(num)
        i+=1
    elif len(l1)==0 and len(l2)==0:
        break


print(f"create list 1 = {l1} and list 2 = {l2}")

In [ ]:
# 25. Reverse the order of a list using the slice syntax | 
li = ['a','b',3,4] 

li[::-1]

In [ ]:
# 26. Remove empty strings from the list of strings | 

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"] 
list1.remove("")
list1.remove("")
print(list1)

In [ ]:
# 27.Add new item to list after a specified item|  EXPECTED [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40] 
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(700)
print(list1)

In [ ]:
#28.Extend nested list by adding the sublist  EXPECTED O/P : ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']



list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "I"], "m", "n"] 
sub_list = ["h", "i", "j"] 

for i in sub_list:
    list1[2][1][2].append(i)

print(list1)

In [ ]:
# 29. Replace list's item with new value if found |  EXPECTED O/P: [5, 10, 15, 200, 25, 50, 20] 

list1 = [5, 10, 15, 20, 25, 50, 20]

l = list1[0:4]
i = list1[5:]
l.remove(20)
l.append(200)

print(l+i)

In [ ]:
#30.Remove all occurrences of a specific item from a list.remove all occurrences of item 20.| 

list1 = [5, 20, 15, 20, 25, 50, 20] 

for i in list1:
    if i == 20 :
        list1.remove(20)
        
print(list1)

In [ ]:
# 31.Combine 2 lists into a dictionary |  USING zip function
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']

zipp = zip(name, animal)
print(list(zipp))

# next page

In [ ]:
# 1. Reverse the following tuple. 

a = (10, 20, 30, 40, 50) 
a[::-1]

In [ ]:
# 2.Access value 20 from the following tuple. 

a= ("Orange", [10, 20, 30], (5, 15, 25)) 

a[1][1]

In [ ]:
# 3.Create a tuple with single item 50. 


a = (50 ,)
type(a)

In [ ]:
# 4.Unpack the following tuple into 4 variables. 

a= (10, 20, 30, 40)

x,y,z,p = a
print(x,y,z,p)

In [ ]:
# 5.Swap the following two tuples. 
a = (11, 22) 
b = (99, 88) 
c = ( )
c = a
a = b
b = c
print(a, b)

In [ ]:
# 6.Copy element 44 and 55 from the following tuple into a new tuple. 

tuple2 = (44, 55)

a , b = tuple2

print(a, b)

In [ ]:
# 7.Modify the first item (22) of a list inside a following tuple to 222. 

a = (11, [22, 33], 44, 55) 

a[1][0] = 222
print(a)

In [ ]:
# 8.Counts the number of occurrences of item 50 from a tuple. 

a = (50, 10, 60, 70, 50) 
count=0
for i in a:
    if i == 50:
        count+=1

print(count)

In [ ]:
# 9.Assign the first element of the tuple to answer_1 on line 2. 
tt = (11, 100, 99, 1000, 999) 

answer_1 = tt[0]
print(answer_1)

In [ ]:
# 10.What's the index of 2? 


tt = (55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99) 

print(tt.index(2))

In [ ]:
# 11.How many times does 777 occur? 

tt = (55, 6, 777, 54, 6, 76, 777, 1, 77, 2, 6) 

count=0
for i in tt:
    if i == 777:
        count+=1

print(count)

In [ ]:
# 12.What is the sum of all the numbers in the tuple? 

tt = (42, 1092, 11, 88, 65, 2, 6) 


sum(tt)

In [ ]:
# 13.What is the minimum value in the tuple? 


tt=(66, 555, 11, 101, 9, 1001) 

min(tt)

# next page

In [ ]:
# 16.Convert a set to a list | 

a = {4, 2, 3}

b = list(a)
type(b)

In [ ]:
# 17.How can you iterate on values in a set? | 

s = {'a','b','c','d','e'} 

# using loop

In [ ]:
# 18.Return the length of a set 

s = {"a", "b", "c", "d", "e"}
len(s)

In [ ]:
# 19.Find the union of 2 sets. | | EXPECTED O/P: {1, 2, 3, 4, 5, 6, 7, 8} 
s1 = {1, 2, 3, 4, 5} 
s2 = {4, 5, 6, 7, 8} 

s1.union(s2)

In [ ]:
# 20. Find the elements in s1 that are not in s2 | 
s1 = {1,2,3,4,5} 
s2 = {4, 5, 6, 7, 8} 
s1-s2

In [ ]:
# 21.Remove an element from a set | REMOVE Z 

s = {"x","y","z"}

s.remove("z")
print(s)

In [ ]:
# 22.Remove and return an unspecified element from a set | 

s = {"z","y", "x"}

s.pop()

In [ ]:
# 23.Add all elements from another set to an existing set | EXPECTED (O / P) {1, 2, 3, 4, 5} 
a = {1, 2, 3} 
b = {3, 4, 5}

a.union(b)

In [ ]:
# 24. Remove all elements from a set | 

a = {1, 2, 3} 
a.clear

In [ ]:
# 25.Remove an element from a set if it exists. | 

a = {1, 2, 3} 
a.discard(4)

In [ ]:
# 26. Can a set be accessed by index? | (its Theory questions) 


# setcannot access elements of a set by index it will through error
a[0]

# 27. What is the difference between a set and a tuple? | (its Theory questions) 


1 tuple have only two method count and index. while set have 17

2 in tuple we can use index but in set we cannot

3 tuple is immutable while set is mutable

4 position of data in tuple is same. while position of data in set change's

and many more

# 28.What is the difference between a set and a frozenset? | (its Theory questions)


set is mutable while forzenset is immutable

In [2]:
# 29.Python program to find the missing of s1 in s2  | expected (o / p) {1, 2, 3} 
s1= {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}

s1 -s2

{1, 2, 3}

In [7]:
# 30.remove last item from a given set |

s1={'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}
s1.discard("Blue")
print(s1)

{'Yellow', 'Green', 'Black', 'Red', 'Orange'}