In [ ]:



         #for range number range , string, list 
# (Start, End , step )
# (end, start, - step)

# for i in name --- [::-1]

In [ ]:
#1 Print 10 natural number

for i in range(1,10):
    print(i)

In [ ]:
#2 Print 10 Even number

for i in range(2,22,2):
    print(i)

In [ ]:
#3 Print 10 Odd number

for i in range(3,22,2):
    print(i)

In [ ]:
#5 Print 10 Even number in reverse order

for i in range(20,1,-2):
    print(i)

In [ ]:
# 6 Table of a number Accepted from ther user


num=int(input("enter your number:-"))
for i in range(1,11):
    a=num*i
    print(f'{num} * {i} =',a)

In [ ]:
#7 Factorial of a number

num = int(input("enter the number"))
f = 1

for i in range(num,1,-1):
    f*=i
print(f' Factorial of {num} is',f)

In [ ]:
## 8  Check the number enter is prime or not

num = int(input("enter the Prime No. "))

if num%num==0 and num%1==0 and num%2!=0:
    print("enter number is prime")
else:
    print("not a prime number")

In [ ]:
#9  Table of a number Accepted from ther user


num=int(input("enter your number:-"))
for i in range(1,11):
    a=num*i
    print(f'{num} * {i} =',a)

In [ ]:
#10 

for i in range(5,0,-1):   
    a = str(i)
    print(a*i)

In [ ]:
#11 palindrome
# 123321
num=123321
i = 0
while i < 6:
    

if rev == num:
    print("Palindome")
else:
    print("not")

In [ ]:
# 12 


for i in range(5):
    print("*"*i)

In [ ]:
#13


num = int(input("enter the number: "))
sum_ = 0
for i in range(1,num+1):
    sum_+=i
print(sum_)

#14 Output should be the table of 2 


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
#15 break and divisible of 5


list1 = ['12', '15', '32', '42', '55', '75', '122', '132', '150', '180', '200'] 
a = 0
for i in list1:
    a = int(i)
    if a % 5==0 and a <=150:
        print(a)

In [ ]:
#16 Done Message

i= 0
while i<5:
    i+=1
print("Done")

In [21]:
#17 prime numbers 1 to 50

for num in range(2,51):
    if num%num==0 and num%1==0 and num%2!=0:
        print(num)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [51]:
#18 fibonacci series

num = 11
n=1
b=0
for i in range(num):
    c = n + b
    n = b
    b = c
    print(c)

1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#20