In [ ]:
#1 reverse the tuple


a = (10, 20, 30,40, 50)

# print(x in a if i<x i = x)
b = list(a)
b.sort(reverse=True)
print(b)

In [ ]:
#2 Access Value 20 in the tuple

a = ("Orange",[10,20,30],(5,15,25))

print(a[1][1])

In [ ]:
#3 Create a Tuple With Single item 50


a = [50]
b = tuple(a)
print(type(b))
print(b)

In [ ]:
#4 Unpack The Following Tuplw into 4 Variable

a = (10, 20, 30, 40)
x, y, z, b = a
print(x, y, z, b)

In [ ]:
#5 Swap a and b

a = (11,22)
b = (99, 88)

c = 0

c=a
a=b
b=c
print(f'Value of a = {a},  Value of b = {b}')

In [33]:
#6 copy element 44 and 55 from the following tuple into new tuple 

tuple2=(44, 55)
a, b = tuple2
print(a)

44

In [39]:
#7 modify the item 22 of alist inside a following tuple to 222

a = (11,[22,33], 44, 55)

b = list[a]

a[1][0]=222
print(a)

(11, [222, 33], 44, 55)

In [41]:
#8 count the number of occurrence of item 50 from a tuple

a = (50, 10, 60, 70, 50)
count = 0
for i in a:
    if i == 50:
        count+=1
print(f" 50 has been occure {count} time's")

 50 has been occure 2 time's

In [45]:
#9 Assign the first element of the tuple to answe_1 on line 


tt=(11, 100, 99, 1000, 999)
answer_1 = tt[0]
print(answer_1)

11

In [51]:
#10 What the index of 2 

tt = (55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)
index = 0
for i in tt:
    if i ==2:
        break
    index+=1

answer_1 = index
print(answer_1)

7

In [55]:
#11 how many Time does 777 occur


a = (55, 777, 54, 6, 76, 7777, 1, 777, 2, 6)
count = 0
for i in a:
    if i == 777:
        count+=1
print(f" 777 has been occure {count} time's")

 777 has been occure 2 time's

In [63]:
#12 what is the sum of all the number in the tuple

tt = (42, 1092, 11, 88, 65, 2, 6)
sum_1=0
for i in tt:
    sum_1 += i
print(sum_1)

1306

In [132]:
#13 What is the minimum value in the tuple

tt = (66, 555, 11, 101, 9, 1001)
small = list(tt)
small.sort() 
        
        
        
print(small[0])

9

In [144]:
# 16 Conver the set to a list 

a = {4, 2, 3}
a = list(a)
print(type(a))

<class 'list'>

In [ ]:
# 17 How can you iterate on values in a sets

s = {"a", "b", 'c',"d", "e"}