In [1]:
# 5 print first 10 even number in reverse order


j = ""
for i in range(1, 22):
    if i%2==0:
        j += str(i)
        print(i)
print(j)
print(j[::-1])

2
4
6
8
10
12
14
16
18
20
2468101214161820
0281614121018642

In [2]:
for i in range(24, 2, -2):  # (Start, end, step)
    print(i)

24
22
20
18
16
14
12
10
8
6
4

there are different way's to use the range function from " Stright to reverse  "


#                 (1, 20, 2)  1 se start hoga and wo 20 ko end hoga by skiping 2 number

#                  (20, 1, 2) it wil not show any thing for out put because your start is 24 and end is 1, how can one start from the last stop  

        # TO RUN THIS WE HAVE TO Use " - " to run in reverse order like our train reversing it self from last stop 


#                 (20, 2, -1) this will run in the reverse order form start 20 to last 2

In [3]:
for i in range(24, 2, -1):  # (Start, end, step)
    print(i)

24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [ ]:
#9 write a program to print table of a number (accepted from user)  in the following format.

# like  input is 7 then output is 7*1 = 7
                                 # 7 *2  = 14 so on 



num = int(input("Enter the number of which table you want: "))

for i in range(1, 11):
    table= num*i
    print(f'{num} * {i} = ', table)

In [ ]:
#10   Pattern

num = int(input("Enter the number"))


for i in range(num,0,-1):
    print(i*str(i))

In [ ]:
#11  palindrome


num = int(input("enter the number"))

In [ ]:
# While loop 


l = ["jack", "Jenny", "Jassi", "jeet"]
i = 0
while i<4:
    print(l[i])
    if l[i] == "Jassi":
        continue
        i=i+1

In [ ]:
a = 12
i = 0
while i <5:
    i=i+1
    print(a)

In [ ]:
l = ["jack", "Jenny", "Jassi", "jeet"]
i = 0
while i<5:
    print(l[i])
    if l[i]=="Jassi":
        break
    i=i+1

In [ ]:
l = ["jack", "Jenny", "Jassi", "jeet"]
i = 0
while i<len(l):
    if l[i]=="Jenny":
        continue
    i=i+1
    print(l[i])