Tupple are imutable unchangeble

In [1]:
a = (1, 3, 4, 5, 6, 67, 7, 8, 5)
print(a)

(1, 3, 4, 5, 6, 67, 7, 8, 5)

In [5]:
a.count(5)

2

In [13]:
b = {1, 3, 4, 5, 6, 67, 7, 8, 5}

Sets are uorder, unindex, unchange, and take no duplicates

            and it only take add and remove value

In [19]:
set1={"jack", "janny", "puneet", "preet", "pratap"}
set2={"isha", "vishwajeet", "kartick", "janny", "puneet"}

set3=set1.difference(set2)

print(set3)

{'preet', 'pratap', 'jack'}

In [23]:
# Difference we use " - "

set1={"jack", "janny", "puneet", "preet", "pratap"}
set2={"isha", "vishwajeet", "kartick", "janny", "puneet"}

set3=set2 - set1

print(set3)

{'vishwajeet', 'kartick', 'isha'}

In [25]:
# for Union we use " | "

set1={"jack", "janny", "puneet", "preet", "pratap"}
set2={"isha", "vishwajeet", "kartick", "janny", "puneet"}

set3=set2 | set1

print(set3)

{'janny', 'kartick', 'pratap', 'isha', 'preet', 'vishwajeet', 'jack', 'puneet'}

In [27]:
# for intersection we "&" 



set1={"jack", "janny", "puneet", "preet", "pratap"}
set2={"isha", "vishwajeet", "kartick", "janny", "puneet"}

set3=set2 & set1

print(set3)

{'janny', 'puneet'}

In [29]:
# for Sematic_difference we " ^ " 



set1={"jack", "janny", "puneet", "preet", "pratap"}
set2={"isha", "vishwajeet", "kartick", "janny", "puneet"}

set3=set2 ^ set1

print(set3)

{'kartick', 'isha', 'jack', 'preet', 'vishwajeet', 'pratap'}

In [37]:

set1={"jack", "janny", "puneet", "preet", "pratap"}
set2={"isha", "vishwajeet", "kartick", "janny", "puneet"}

set1.discard("janny")
print(set1)

{'jack', 'preet', 'pratap', 'puneet'}

In [41]:

set1={"jack", "janny", "puneet", "preet", "pratap"}
set2={"isha", "vishwajeet", "kartick", "janny", "puneet"}

set1.remove("janny")
print(set1)

{'jack', 'preet', 'pratap', 'puneet'}